.main-wrapper{
    max-width: 700px;
    margin: auto;
<<<<<<< Updated upstream
=======
    max-width: 700px;
    display: flex;
     flex-direction: column;
    gap: 200px;
}
.intro-wrapper {
	width: 90%;
    margin: auto;
    max-width: 600px;
>>>>>>> Stashed changes
    display: flex;
     flex-direction: column;
    gap: 200px;
	
	
}
.text-wrapper{
    width: 90%;
    margin: auto;

}
.main-text{
    color: white;
    font-size: 30px;
    font-family: Roobert;
	margin-top: 5vw;
}
.text-white{
    color: white;
}

.logo-wrapper p{
    font-size: 50px;
    text-align: justify;
	letter-spacing: .1rem;
}

.logo-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-section{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.active{
    color: #FFFFFF;!important;
    opacity: 100%;!important;
}

.about-section{
    min-height: 1200px;
}
.about-detail{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-detail-wrapper{
    display: flex;
    flex-direction: column;
}

.swiper {
    width: 100%;
    height: auto;
}

.section{
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.fade-in {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.list {
	
	margin-top: 2vw;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.gap-2{
    gap: 2em;
}

.text-gray{
    color: #F2F2F2;
    opacity: 60%;
	font-family: Roobert;
	font-size: 25pt;
}
.regular-text {
	font-size: 25pt;
	font-family: Roobert;
	color: #f2f2f2;
	
}
.text-dark{
    color: #7B7B7B;
}
